<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign teaching = data[1] | sort: 'date' | reverse %}
  {% for content in teaching %}
    <li class="list-group-item">
      <div class="row">
        <!-- Semester badge -->
        <div class="col-xs-2 col-sm-2 col-md-2 text-center" style="width: 75px">
          {% assign date = content.semester | default: '' %}
          <table class="table-cv">
            <tbody>
              <tr>
                <td>
                  <span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px">
                    {{ date }}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Course info -->
        <div class="col-xs-10 col-sm-10 col-md-10 mt-2 mt-md-0">
          <!-- Course name + number -->
          <h6 class="title font-weight-bold ml-1 ml-md-4">
            {{ content.course_name }}
            {% if content.course_number %}
              <span> - {{ content.course_number }}</span>
            {% endif %}
          </h6>

          <!-- Position (optional) -->
          {% if content.position %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem">
              <em>{{ content.position | join: ', ' }}</em>
            </div>
          {% endif %}

          {% if content.department or content.university %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem">
              {% if content.department %}{{ content.department }}{% endif %}
              {% if content.department and content.university %}, {% endif %}
              {% if content.university %}{{ content.university }}{% endif %}
            </div>
          {% endif %}


          {% unless location | strip == '' %}
            <div class="ml-1 ml-md-4" style="font-size: 0.95rem">
              {{ location | strip }}
            </div>
          {% endunless %}
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
